
<ion-content>
    <h2>Device</h2>
    <ion-list>
        <ion-item>Name: {{ bleDeviceService.device.name }}</ion-item>
        <ion-item>ID: {{ bleDeviceService.device.id }}</ion-item>
        <ion-item>Connected: {{ bleDeviceService.device.connected }}</ion-item>
    </ion-list> 
     <button ion-button (click)="scan()">
        Scan
      </button>
   <ion-list> 
    <button ion-item *ngFor="let device of devices" (click)=deviceSelected(device) >
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button>  
   </ion-list> 
   </ion-content>