/nbproject/private/
/private
SteeringMariaApp/platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
SteeringMariaApp/.sourcemaps/main.js.map
SteeringMariaApp/platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
SteeringMariaApp/platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
SteeringMariaApp/platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
SteeringMariaApp/platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
SteeringMariaApp/platforms/android/app/build/intermediates/assets/debug/www/build/main.js
SteeringMariaApp/platforms/android/app/build/intermediates/assets/debug/www/build/main.js.map
SteeringMariaApp/platforms/android/app/build/intermediates/assets/debug/www/build/vendor.js.map
SteeringMariaApp/platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
SteeringMariaApp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
SteeringMariaApp/platforms/android/app/src/main/assets/www/build/main.js
SteeringMariaApp/platforms/android/app/src/main/assets/www/build/main.js.map
SteeringMariaApp/platforms/android/app/src/main/assets/www/build/vendor.js.map
SteeringMariaApp/src/pages/servos/servos.component.html
SteeringMariaApp/src/pages/servos/servos.component.ts
SteeringMariaApp/www/build/main.js
SteeringMariaApp/www/build/main.js.map
SteeringMariaApp/www/build/vendor.js.map
SteeringMariaSketch/generated_examples/pwmtest/pwmtest.ino
SteeringMariaSketch/generated_examples/pwmtest/.vscode/arduino.json
SteeringMariaSketch/generated_examples/pwmtest/.vscode/c_cpp_properties.json
SteeringMariaApp/www/build/vendor.js.map
SteeringMariaApp/www/build/main.js

